@model GigHub.ViewModels.GigDetailsViewModel

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Informacie o koncercie</h2>

<div class="container">
    <div class="col-md-8 col-md-offset-2">       
        <div class="gig-details">    
            
            Wykonawca:
            <h1>
                <span class="highlight" style="margin-left: 0"> @Model.Gig.Artist.Name</span> @if (User.Identity.IsAuthenticated)
                    {
                    <button data-artist-id="@Model.Gig.Artist.Id" style="margin-bottom: 10px;" class="btn btn-md btn-primary js-follow-artist">Obserwuj</button>
                    }
            </h1>
                  
            <p>Koncert zostanie zoorganizowany w <strong> @Model.Gig.Venue </strong> </p>
            
            <p>
                Odbędzie on się <strong class=" gig-date"></strong>
            </p>
            
            @if (Model.isGoing)
            {
                <p class="status">Dodałeś ten koncert do swojego kalendarza!</p>
            }

        </div>
    </div>
</div>

@section scripts{
    <script src="~/Translations/MomentJS/pl.js"></script>
    <script type="text/javascript">


        $(".gig-date").text(moment("@Model.Gig.DateTime").format("D MMMM YYYY HH:mm"));

        $(document)
            .ready(function() {

                FollowingController.init();

            });
    </script>
}
              


